.container{padding: 120px 0 100px 0;}

.grid{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: auto;
  grid-gap: 16px;
}

.list{
  width: 65%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: auto;
  grid-gap: 16px;
}

@media screen and (max-width: 1200px){
  .grid{
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 12px;
  }
}

@media screen and (max-width: 992px){
  .grid{
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
}

@media screen and (max-width: 768px){
  .grid{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 576px){
  .grid{
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 16px;
  }
}